@page "/customize"

<PageTitle>Customize</PageTitle>


<label for="customRangeBrightness" class="form-label">Brightness</label>
<input type="range" class="form-range" id="customRangeBrightness" min="-100" max="100" @bind-value="@brightnessValue">
<label for="customRangeBrightness">@brightnessValue</label>
<br />

<label for="customRangeSaturation" class="form-label">Saturation</label>
<input type="range" class="form-range" id="customRangeSaturation" min="-100" max="100" @bind-value="@saturationValue">
<label for="customRangeSaturation">@saturationValue</label>
<br />

<label for="customRangeBrightness" class="form-label">Hue</label>
<input type="range" class="form-range" id="customRangeBrightness" min="-180" max="180" @bind-value="@hueValue">
<label for="customRangeBrightness" @onchange=@OnChangeHue>@hueValue</label>
<br />

@code {
    public int brightnessValue = 0;
    public int saturationValue = 0;
    public int hueValue = 0;

    public void OnChangeHue()
    {
        brightnessValue = 100;
    }
}
