@using Services
@using Model
@page "/"

<PageTitle>Cataas</PageTitle>

<div class="d-flex justify-content-center">
  
    @if (link == null)
    {
        <img src="@imgSrc" height="500" width="500" class="border border-black" />
        <br />
    }
    else
    {
        <img src="@link" height="500" width="500" class="border border-black" />
        <br />
    }

   
</div>
<div class="d-flex justify-content-center">
<button @onclick="@GeneratePic">Generate Picture</button>
</div>

<select class="form-select form-select-lg mb-3" aria-label="Large select example"
        @onchange="SelectedChoiceChanged">
    <option value="standard">Standard</option>
    <option value="mono">Mono</option>
    <option value="negate">Negate</option>
    <option value="custom">Custom</option>
</select>

@if (choice == "custom")
{
    if(CustomChoice == "")
    {
        <select class="form-select form-select-lg mb-3" aria-label="Large select example"
                @onchange="SelectedCustomChanged">
            <option value="standard">Choose</option>
            <option value="cust">BSH</option>
            <option value="col">RGB</option>
        </select>
    }

    if(CustomChoice == "cust")
    {
        <label for="customRangeBrightness" class="form-label">Brightness</label>
        <input type="range" class="form-range" id="customRangeBrightness" min="0" max="100" @bind-value="@brightnessValue" >
        <label for="customRangeBrightness">@brightnessValue</label>
        <br />

        <label for="customRangeSaturation" class="form-label">Saturation</label>
        <input type="range" class="form-range" id="customRangeSaturation" min="0" max="100" @bind-value="@saturationValue">
        <label for="customRangeSaturation">@saturationValue</label>
        <br />

        <label for="customRangeHue" class="form-label">Hue</label>
        <input type="range" class="form-range" id="customRangeHue" min="0" max="180" @bind-value="@hueValue">
        <label for="customRangeHue">@hueValue</label>
        <br />

        <div class="d-flex align-items-center">
        <button type="button" class="btn btn-success" @onclick="@OnClickGenerateBSH">Submit</button>
        </div>

        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-danger" @onclick="@OnClickReset">Reset</button>
        </div>

        <br />
    }


    <!--Coloring-->
    if(CustomChoice == "col")
    {
        <label for="customRangeRed" class="form-label">Red</label>
        <input type="range" class="form-range" id="customRangeRed" min="0" max="255" @bind-value="@RedValue">
        <label for="customRangeBrightness">@RedValue</label>
        <br />

        <label for="customRangeGreen" class="form-label">Green</label>
        <input type="range" class="form-range" id="customRangeGreen" min="0" max="255" @bind-value="@GreenValue">
        <label for="customRangeSaturation">@GreenValue</label>
        <br />

        <label for="customRangeBlue" class="form-label">Blue</label>
        <input type="range" class="form-range" id="customRangeBlue" min="0" max="255" @bind-value="@BlueValue">
        <label for="customRangeBrightness">@BlueValue</label>
        <br />

        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-success" @onclick="@OnClickGenerateRGB">Generate</button>
        </div>

        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-danger" @onclick="@OnClickReset">Reset</button>
        </div>
        <br />
    }
}


<!-- <img src="https://cataas.com/cat?filter=custom&hue=50" /> -->
@code {
    API api = new();

    private string imgSrc = "https://www.brillen-sehhilfen.de/optik/image/weiss-white.png";

    public string choice = "standard";
    public string CustomChoice = "";

    public int? brightnessValue = 50;
    public int? saturationValue = 50;
    public int? hueValue = 50;

    public int? RedValue = 0;
    public int? GreenValue = 0;
    public int? BlueValue = 0;

    Cat? picture;
    string link = null;

    public void SelectedChoiceChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            choice = (string)e.Value;
        }
    }

    public void SelectedCustomChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            CustomChoice = (string)e.Value;
        }
    }

    public void OnClickGenerateBSH()
    {
        RedValue = null;
        GreenValue = null;
        BlueValue = null;

        GeneratePic();
    }

    public void OnClickGenerateRGB()
    {
        brightnessValue = null;
        saturationValue = null;
        hueValue = null;

        GeneratePic();
    }

    public void OnClickReset()
    {
        CustomChoice = "";

        brightnessValue = 0;
        saturationValue = 0;
        hueValue = 0;

        RedValue = 0;
        GreenValue = 0;
        BlueValue = 0;
    }

    public async Task GeneratePic()
    {
        picture = await api.GetCat();

        if (choice == "custom")
        {

            if (RedValue == null || GreenValue == null || BlueValue == null)
            {
                link = $"https://cataas.com/cat/{picture.ID}?filter={choice}&brightness={brightnessValue}&saturation={saturationValue}&hue={hueValue}";
            }
            else if (brightnessValue == null || saturationValue == null || hueValue == null)
            {
                link = $"https://cataas.com/cat/{picture.ID}?filter={choice}&r={RedValue}&g={GreenValue}&b={BlueValue}";
            }
        }
        else if (choice == "mono" || choice == "negate")
        {
            link = $"https://cataas.com/cat/{picture.ID}?filter={choice}";
        }
        else
        {
            link = $"https://cataas.com/cat/{picture.ID}";
        }

    }
}
