@using Services
@page "/"

<PageTitle>Cataas</PageTitle>

<div class="d-flex justify-content-center">
    <img src="@imgSrc" height="500" width="500" class="border border-black"/>
    <br />
   
</div>
<div class="d-flex justify-content-center">
<button type="button" class="btn btn-primary btn-lg" @onclick="@GeneratePic">Generate Picture</button>
</div>

<select class="form-select form-select-lg mb-3" aria-label="Large select example"
        @onchange="SelectedChoiceChanged">
    <option value="standard">Standard</option>
    <option value="mono">Mono</option>
    <option value="negate">Negate</option>
    <option value="custom">Custom</option>
</select>

@if (choice == "custom")
{
    if(CustomChoice == "")
    {
        <select class="form-select form-select-lg mb-3" aria-label="Large select example"
                @onchange="SelectedCustomChanged">
            <option value="standard">Choose</option>
            <option value="BSH">BSH</option>
            <option value="RGB">RGB</option>
        </select>
    }

    <!--BSH-->
    if(CustomChoice == "BSH")
    {

        <label for="customRangeBrightness" class="form-label">Brightness</label>
        <input type="range" class="form-range" id="customRangeBrightness" min="-100" max="100" @bind-value="@brightnessValue" >
        <label for="customRangeBrightness" class="">@brightnessValue</label>
        <br />

        <label for="customRangeSaturation" class="form-label">Saturation</label>
        <input type="range" class="form-range" id="customRangeSaturation" min="-100" max="100" @bind-value="@saturationValue">
        <label for="customRangeSaturation" class="">@saturationValue</label>
        <br />

        <label for="customRangeHue" class="form-label">Hue</label>
        <input type="range" class="form-range" id="customRangeHue" min="-180" max="180" @bind-value="@hueValue">
        <label for="customRangeHue" class="">@hueValue</label>
        <br />

        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-success m-3" @onclick="@OnClickSaveBSH">Save</button>
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-danger" @onclick="@OnClickReset">Reset</button>
        </div>


        <br />
    }


    <!--Coloring-->
    if(CustomChoice == "RGB")
    {
        <label for="customRangeRed" class="form-label">Red</label>
        <input type="range" class="form-range" id="customRangeRed" min="0" max="255" @bind-value="@RedValue">
        <label for="customRangeBrightness">@RedValue</label>
        <br />

        <label for="customRangeGreen" class="form-label">Green</label>
        <input type="range" class="form-range" id="customRangeGreen" min="0" max="255" @bind-value="@GreenValue">
        <label for="customRangeSaturation">@GreenValue</label>
        <br />

        <label for="customRangeBlue" class="form-label">Blue</label>
        <input type="range" class="form-range" id="customRangeBlue" min="0" max="255" @bind-value="@BlueValue">
        <label for="customRangeBrightness">@BlueValue</label>
        <br />

        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-success m-3" @onclick="@OnClickSaveRGB">Save</button>
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-danger" @onclick="@OnClickReset">Reset</button>
        </div>
        <br />
    }
}



<!-- <img src="https://cataas.com/cat?filter=custom&hue=50" /> -->
@code {
    API cat = new();

    private string imgSrc = "https://www.brillen-sehhilfen.de/optik/image/weiss-white.png";

    public string choice = "standard";
    public string CustomChoice = "";

    public int? brightnessValue = 0;
    public int? saturationValue = 0;
    public int? hueValue = 0;
    
    public int? RedValue = 0;
    public int? GreenValue = 0;
    public int? BlueValue = 0;


    public void SelectedChoiceChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            choice = (string)e.Value;
        }
    }

    public void SelectedCustomChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            CustomChoice = (string)e.Value;
        }
    }

    public void OnClickSaveBSH()
    {
        RedValue = null;
        GreenValue = null;
        BlueValue = null;
    }

    public void OnClickSaveRGB()
    {
        brightnessValue = null;
        saturationValue = null;
        hueValue = null;

        //imgSrc = cat.GetCat();
    }

    public void OnClickReset()
    {
    CustomChoice = "";
      
    brightnessValue = 0;
    saturationValue = 0;
    hueValue = 0;

    RedValue = 0;
    GreenValue = 0;
    BlueValue = 0;
    }

    public void GeneratePic()
    {

        // imgSrc = cat.GetFilterCat(choice, brightnessValue, saturationValue, hueValue, RedValue, GreenValue, BlueValue);
        
    }
}
